.container {
	max-width: 1200px;
	margin: 0 auto;
}
.photos {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
img {
	object-fit: cover;
	width: 460px;
	height: 600px;
	margin: 15px;
	border-radius: 5%;
}
img:hover {
	box-shadow:
		1px 1px cornflowerblue,
		2px 2px cornflowerblue,
		3px 3px cornflowerblue,
		4px 4px cornflowerblue,
		5px 5px cornflowerblue,
		6px 6px cornflowerblue,
		7px 7px cornflowerblue;
	-webkit-transform: translateX(-7px);
	transform: translateX(-7px);
	transition: .6s;
}
.icon {
	width: 35px;
	height: 35px;
	transition: .6s;
	position: fixed;
	top: 20px;
	z-index: 10;
	right: 200px;
}
.icon:hover {
	transition: .5s;
	transform: scale(1.2);
	box-shadow: none;
}
/*При крике на фото*/
.full {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 8%;
	background: #CCC center no-repeat;
	background: rgba(0, 0, 0, 0.5) center no-repeat;
	background-size: contain;
	background-origin: content-box;
}
a:focus + .full {
	display: block;
}

@media screen and (max-width: 500px){
	img {
		width: 280px;
		height: 360px;
		margin: 5px;
	}
}
@media screen and (max-width: 1040px){
	.icon {
		right: 10px;
	}
}
/*Кнопка главная*/
.home {
	text-decoration: none;
	outline: none;
	display: inline-block;
	padding: 5px 10px;
	margin: 10px 20px;
	position: relative;
	overflow: hidden;
	border: 2px solid cornflowerblue;
	border-radius: 8px;
	color: cornflowerblue;
	transition: .2s ease-in-out;
	font-family: 'Caveat', cursive;
	letter-spacing: 5px;
}
.home:before {
	content: "";
	background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
	height: 50px;
	width: 50px;
	position: absolute;
	top: -8px;
	left: -75px;
	transform: skewX(-45deg);
}
.home:hover {
	background: cornflowerblue;
	color: #fff;
}
.home:hover:before {
	left: 150px;
	transition: .5s ease-in-out;
}
span {
	position: fixed;
	left: 200px;
	top: 20px;
}
@media screen and (max-width: 1040px) {
	span {
		left: 10px;
	}
}

